.header {
  display: block;
  width: 100%;
  margin: 15px;
}

.link {
  margin: 15px;
  text-decoration: none;
  font-weight: 700;
  color: rgb(17, 15, 15);
}

.link:hover {
  color: rgb(56, 56, 216);
}
