.wrapper {
  display: flex;
}

.user {
  margin: 0;
  font-weight: 600;
}

.button {
  display: block;
  line-height: 1.5;
  padding: 0 10px;
  margin: 0 15px;
  background-color: rgb(104, 104, 255);
  color: rgb(245, 245, 245);
  border: none;
  border-radius: 3px;
}
